/* Step1: parentContainer */
/* Step2: component*/
/* Step3: componentContainer*/
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* ::::CSS Sequence (7 Steps):::: */

/* nav */

/* Step1: parentContainer */
/* already written in style.css */

/* Step2: component*/
.navBarSection {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.navBarContainer {
    /* background-color: #800f0f; */
    margin-top: 2rem;
}

/* Step4: row */
.navBody {
    /* background-color: #22a235; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Step5: column1*/
.navImgBlock {
    /* background-color: #ffffff; */
}

/* Step6: subColumn */
.navImgBox {
    /* background-color: #ffffff; */
    padding-right: 33rem;
}

/* Step7: contentContainer */
.navImgBox img {
    height: 5rem;
    /* width: auto; */
}

/* Step5: column2*/
.navLinkBlock {
    /* background-color: #ffffff; */
}

/* Step6: subColumn */
.navLinkBox{
    /* background-color: #ffffff; */
    padding-left: 22rem;
}

/* Step7: contentContainer */
.navLinks a {
    font-family: var(--ffSecondary);
    font-size: 2rem;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #343a40;
    border-right: #343a40;
}

.navLinks li {
    /* background-color: #ffffff; */
}

.checkbtn {
    color: #ffffff;
    font-size: 24px;
    margin-right: 30px;
    padding: 4px 7px 1px;
    border: 2px solid #7e7d7d;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/* hero */

/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.heroSection {
    /* background-color: #7cd882; */
}

/* Step3: componentContainer */
.heroContainer {
    /* background-color: #de7d7d; */
    /* max-width: 1200px;
    margin: auto; */
    background-image: url(./assets/images/hero.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Step4: row */
.heroBody {
    /* background-color: #15b789; */
    padding: 20rem 0rem 0rem 0rem;
}

/* Step5: column */
.heroBlock {
    /* background-color: #d3cb3a; */
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Step6: subColumn */
.heroBox {
    /* background-color: #4646be; */
    padding: 2rem 2rem;
    /* width: 50%; */
}

/* Step7: contentContainer */
.heroBox h1 {
    /* background-color: #79308b; */
    font-family: var(--ffPrimary);
    font-size: 7rem;
    width: 70rem;
    font-weight: 900;
}

/* Step7: contentContainer */
.heroBox p {
    /* background-color: #f322db; */
    font-size: 1.5rem;
    width: 70rem;
}

/* Step7: contentContainer */
.heroBox button {
    background-color: var(--primaryColor);
    padding: 0.75rem 3rem;
    font-size: 2rem;
    color: #ffffff;
    border: none;
    margin-top: 1rem;
}

/* Step7: contentContainer */
.heroBox button:hover {
    background-color: black;
}

/* Step7: contentContainer */
.img {
    width: 1200px;
    height: 100%;
}


/*.aboutus*/

/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.aboutUsSection {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.aboutContainer {
    /* background-color: #ffffff; */
}

/* Step4: row */
.aboutUsBody {
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Step5: column 1 */
.aboutUsImageBlock {
    /* background-color: #ffffff; */
}

/* Step7: contentContainer 1 */
.aboutUsImageBox {
    /* background-color: #ffffff; */
    padding-left: 12rem;
}

/* Step7: contentContainer 1 */
.aboutUsImageBox img {
    /* background-color: #000000; */
}

/* Step5: column 2 */
.aboutUsBlock {
    /* background-color: #e67171; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Step6: subColumn */
.abutUsBox {
    /* background-color: #41d75c; */
    /* padding: 0rem 0rem 0rem 3rem; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.aboutUsCardHeader{
    /* background-color: #cf2e2e; */
    max-width: fit-content;
}

/* Step7: contentContainer 1 */
.abutUsBox h2 {
    /* background-color: #d1ce26; */
    font-family: var(--ffPrimary);
    font-size: 4rem;
    font-weight: 900;
}

/* Step7: contentContainer 2 */
.abutUsBox p {
    /* background-color: #cb10c2; */
    padding: 0rem 10rem 0rem 0rem;
    font-family: var(--ffSecondary);
    margin-bottom: 1.5rem;
}

/* Step7: contentContainer 3 */
.abutUsBox .btn {
    background-color: var(--primaryColor);
    padding: 7.5px 30px;
    font-weight: 20px;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    border: none;
    display: flex;
}

/* Step7: contentContainer 3 */
.btn:hover {
    background-color: #000000;
}


/* .facility */


/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.facility {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.facilityContainer {
    /* background-color: #ffffff; */
    width: 1200px;
    margin: auto;
}

/* Step4: row */
.headingBody {
    /* background-color: #f17272; */
    margin-bottom: 2rem;
}

/* Step5: column */
.headingBlock {
    /* background-color: #d6c333; */
}

/* Step6: subColumn */
.HeadingBox {
    /* background-color: #ffffff; */
}

/* Step7: contentContainer */
.HeadingBox img {
    /* width: 17rem; */
    height: 4rem;
}

/* Step7: contentContainer */
.HeadingBox h2 {
    font-family: var(--ffPrimary);
    font-size: 4rem;
    font-weight: 900;
}

/* Step4: row */
.facilityBody {
    /* background-color: #ffffff; */
    /* padding: 0rem 15rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Step5: column */
.facilityBlock {
    /* background-color: #ffffff; */
}

/* Step6: subColumn */
.facilityCard {
    /* background-color: #ffffff; */
    width: 30rem;
}

.facilitySection {
    margin-bottom: 3rem;
}

.facilityImage {
    margin-bottom: 2rem;
}

/* Step7: contentContainer */
.facilityCardBody {
    /* background-color: #ffffff; */
}

/* Step7: contentContainer */
.facilityCard h4 {
    font-family: var(--ffSecondary);
    font-size: 2rem;
}

/* Step7: contentContainer */
.facilitySection p {
    font-family: var(--ffSecondary);
}


/*.menu*/


/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.menu {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.menuContainer {
    /* background-color: #ffffff; */
    width: 1200px;
    margin: auto;
}

/* Step4: row */
.headingBody {
    /* background-color: #822f2f; */
    /* width: 1200px; */
}

/* Step5: column */
.headingBlock {
    /* background-color: #9c3d3d; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Step6: subColumn */
.headingBlock h2 {
    /* background-color: #ffffff; */
    font-size: 4rem;
    font-family: var(--ffPrimary);
    font-weight: 800;
}

/* Step7: contentContainer */
.headingBlock img {
    /* padding: 1rem rem 0rem 2rem; */
    width: 18rem;
    height: 4rem;
}

/* Step4: row */
.menuBody {
    /* background-color: #ffffff; */
    /* padding: 0rem 28rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Step5: column */
.menuBlock {
    /* padding: rem 10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Step6: subColumn */
.menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Step7: contentContainer */
.menuCardImg {
    /* background-color: #000000; */
}

/* Step7: contentContainer */
.menuCard p {
    /* background-color: #f121ea; */
    font-size: 2rem;
    font-family: var(--ffSecondary);
}


/* .Gallery */


/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.gallery {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.galleryContainer {
    /* background-color: #ffffff; */
    width: 1200px;
    margin: auto;
}

/* Step4: row */
.headingBody {
    /* background-color: #ffffff; */
}

/* Step5: column */
.headingBlock {
    /* background-color: #ffffff; */
}

/* Step6: subColumn */
.headingSection {
    /* background-color: #ffffff; */
    font-family: var(--ffPrimary);
}

/* Step7: contentContainer */
.headingSection img {
    /* background-color: #d63d3d; */
}

/* Step4: row */
.galleryBody {
    /* background-color: #3acc9b; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Step5: column */
.galleryBlock {
    /* background-color: #b8b83b; */
    padding: 1.5rem 1.5rem;
}

/* Step6: subColumn */
.galleryCard {
    /* background-color: #ffffff; */
}

/* Step7: contentContainer */
.galleryCardHeader {
    /* background-color: #ffffff; */
}

/* .team */


/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.team {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.teamContainer {
    /* background-color: #ffffff; */
    width: 1200px;
    margin: auto;

}

/* Step4: row */
.headingBody {
    /* background-color: #ffffff; */
}

/* Step5: column */
.headingBlock {
    /* background-color: #ffffff; */
}

/* Step6: subColumn */
.headingBox {
    /* background-color: #ffffff; */
    font-family: var(--ffPrimary);
    font-size: 2.5rem;
    font-weight: 1200;
}

/* Step7: contentContainer */
.HeadingBox img {
    /* padding: 1rem rem 0rem 2rem; */
    width: 15rem;
}

/* Step4: row */
.teamBody {
    /* background-color: #ffffff; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.teamCard p {
    /* background-color: #ffffff; */
}

.teamCard {
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-family: var(--ffSecondary);
    font-size: 2rem;
}



/* .form */
.formContainer {
    /* background-color: #ffffff; */
}

.formSection {
    /* background-color: #ffffff; */
}

.formBody {
    /* background-color: #ffffff; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formBlock {
    /* background-color: #af8888; */
    width: 100%;
}

.formBox {
    /* background-color: #be5454; */
    border: 1px solid black;
    padding: 1rem 3rem;
    width: 80%;
    overflow: hidden;
}

.formHeading {
    /* background-color: #ffffff; */
    font-size: 3.5rem;
}
.formHeading h3{
    /* margin: none; */
    font-family: var(--ffSecondary);
    /* margin-bottom: 2rem; */
    padding: 1.5rem;
}
.formContentSection{
    font-size: 2rem;
    /* width: 90%; */
}

.formContentSection input{
    font-size: 2.5rem;
    width: 50rem;
    border: 1px solid black;
    padding: 1.5rem;
    /* width: 160%; */
}
.formButton {
    background-color: var(--primaryColor);
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 3rem;
    color: #ffffff;
    font-family: var(--ffSecondary);
    border: none;
    margin-bottom: 2rem;
}

.formButton:hover {
    /* color: #56f5f5; */
    background-color: var(black);
}



/* .Footer */

/* Step1: parentContainer */
/* already written in style.css */

/* Step2:  component */
.contacticons {
    /* background-color: #ffffff; */
}

/* Step3: componentContainer*/
.iconBody {
    /* background-color: #ffffff; */
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: 3rem;
}

/* Step4: row */
.iconBody i {
    margin-bottom: 4rem;
}

/* Step5: column */
.icon1Block {
    /* background-color: #ffffff; */
    
}

/* Step6: subColumn */
.iconCard {
    /* background-color: #ffffff; */
    padding: 0rem 4rem;
}

/* Step7: contentContainer */
.cardHeader i {
    background-color: var(--primaryColor);
    border: 2rem solid var(--primaryColor);
    font-size: 4rem;
    border-radius: 50%;
    color: #ffffff;
    height: 8rem;
    width: 8rem;
}

/* Step7: contentContainer */
.cardBody h6 {
    font-size: 2rem;
}

/* Step7: contentContainer */
.cardBody p {
    /* background-color: #ffffff; */
    font-size: 2rem;
}

hr{
    border: 1px solid black;
    width: 90%;
    margin: auto;
}

/* Step4: row 2 */
.copyRightsBody {
    /* background-color: #ba4545; */
    font-style: var(--ffPrimary);
    font-size: 2rem;
    /* border-top: 2px solid black; */
    /* width: 1200px; */
}

/* Step5: column */
.copyRightsBlock {
    /* background-color: #ffffff; */
    margin-top: 2rem;
}

/* Step6: subColumn */
.copyRightsBox {
    /* background-color: #ffffff; */
}

/* Step7: contentContainer */
.copyRightsBox span {
    color: var(--primaryColor);
}